.split-component-container {
    display: flex;
    width: 100%;
    min-height: 625px;
    overflow: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    flex-direction: row;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
  }
  
  .text-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers children horizontally */
    justify-content: center; /* Centers children vertically */
    /* background-size: cover;
    /* background-position: center; */
    text-align: justify;
    /*background-color: hsla(228, 15%, 31%, 0.9);*/
    background-color: hsla(0, 0%, 100%, 1);
    width: 70%;
    /*height: 600px;*/
    /*font-size: 16px;*/
    padding-top: 2%;
    padding-bottom: 0%;
  }

  .split-title {
    font-size: 48px;
    /* font-weight: bold; */
    font-Family: 'Futura';
    /* color: #FFC700;*/
    color: rgba(31, 78, 121); 
    text-align: justify;
    margin-bottom: 5%; /* Adds space between title and paragraphs */
  }

  .split-subtitle {
    font-size: 25px;
    font-Family: 'Futura';
    color: rgba(31, 78, 121); 
    /* color: rgba(31, 56, 100); */
    margin-bottom: 5%;
  }

  .split-text {
    font-size: 20px;
    font-Family: 'Avenir';
    color: #000000;
    text-align: justify;
    line-height: 1.5;
    padding: 2% 12% 2% 12%;
  }
  
  .image-section {
    width: 40%;
    overflow: hidden;
    /* margin-bottom: 0; /* Remove margin bottom or adjust it */
    /* padding-bottom: 0; Remove padding bottom or adjust it */
    box-sizing: border-box;
  }
  
  .image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

@media screen and (max-width: 960px) {
  .split-component-container {
      flex-direction: column; /* Stack children vertically on smaller screens */
      box-sizing: border-box;
      overflow: auto; 
      
  }
  
  .text-section, .image-section {
      width: 100%; /* Ensure both sections take up the full width on smaller screens */
      margin-bottom: 0; /* Remove margin bottom or adjust it */
      box-sizing: border-box;
      overflow: hidden;
      border-bottom: 2px solid black;
  }

  .image-section img {
    display: block;
  }
  
  .split-text {
      padding: 5%; /* Adjust padding as necessary */
      padding-bottom: 0%; 
  }
}