.split-component-container {
    display: flex;
    width: 100%;
    min-height: 625px;
    overflow: hidden;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2px;
    padding-bottom: 0.2%;
    gap: 0px;
    flex-direction: row; 
  }
  
  .text-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers children horizontally */
    justify-content: center; /* Centers children vertically */
    /* background-size: cover;
    /* background-position: center; */
    text-align: justify;
    /*background-color: hsla(228, 15%, 31%, 0.9);*/
    background-color: hsla(0, 0%, 100%, 1);
    width: 60%;
    /* height: 600px; */
    font-size: 16px;
    padding-top: 5%;

  }

  .split-title {
    font-size: 50px;
    /* font-weight: bold; */
    font-Family: 'Futura';
    color: #FFC700;
    text-align: justify;
    margin-bottom: 5%; /* Adds space between title and paragraphs */
  }

  .split-subtitle {
    font-size: 25px;
    /* font-weight: bold; */
    font-Family: 'Futura';
    /*color: #A4D9FF;*/
    color: rgba(31, 78, 121); /* Set background color to black */
    text-align: justify;
    margin-bottom: 5%; /* Adds space between title and paragraphs */
  }

  .split-text {
    font-size: 22px;
    /* font-weight: bold;  */
    font-Family: 'Avenir';
    /*color: #FFFFFF;*/
    color: #000000;
    text-align: justify;
    line-height: 1.5;
    padding: 2% 20% 2% 20%;
  }
  
  .image-section {
    width: 40%;
    /* height: 600px; */
    overflow: hidden;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  
  .image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

@media screen and (max-width: 960px) {
  .split-component-container {
      flex-direction: column; /* Stack children vertically on smaller screens */
  }
  
  .text-section, .image-section {
      width: 100%; /* Ensure both sections take up the full width on smaller screens */
  }
  
  .split-text {
      padding: 5%; /* Adjust padding as necessary */
  }
}