.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 5% 5%; /* Increased top and bottom padding */
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center; /* Center the tiles horizontally */
  text-align: center; /* Center the component title */
}

.project-tile {
  width: 500px;
  height: 400px;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);  /* Shading around the tiles */
  padding: 10px;  /* Padding around individual tile */
  background-color: white;  /* Background color for tiles */
}

.project-tile:hover {
  background-color: rgba(245,245,245,1);  /* Slight color change on hover */
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0,0,0,0.2);  /* Enhanced shadow on hover */
}

.project-tile img {
  width: 100%;
  height: 70%;  /* Reduced height to make space for title below */
  object-fit: cover;
  border-radius: 8px;  /* Optional: rounded corners for the images */
}

.project-title {
  display: block;  /* Hide title by default */
  margin-top: 40px;
}

.project-tile:hover .project-title {
  display: block;  /* Show title on hover */
}

.project-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-indent: -9999px;
  z-index: 10;
}

.project-description {
  display: none;  /* Hidden by default */
}

.project-tile:hover .project-description {
  display: block;  /* Display on hover */
}

.component-title {
  font-size: 28px;
  width: 100%;
  font-weight: bold;
  margin-bottom: 20px; /* Spacing between the title and tiles */
}